<h1>Este es el componente home</h1>


<!-- enlazar la pagina de ejercicios -->
 <a href="ejercicio01clase">Ir a Ejercicio 01 Clase</a>
  <br>  
  <a href="landing">Ir a Landing</a>
  <br>  
  <a href="saludoenrutado/{{nombreusuario}}">Ir a Saludo Enrutado</a>

  <h1>Hola {{nombreusuario}}</h1>

  <input type="text" placeholder="Escribe algo" [value]="nombreusuario" (input)="cambiarNombre($event.target.value)"><br>
  <button (click)="irASaludoEnrutado()">Ir a Saludo Enrutado</button>
  <button (click)="irASaludoEnrutado2()">Ir a Saludo Enrutado 2</button>